extends base

block content

  // Page Header
  section.page-header
    .container
      h1 المنيو
      p اختر من بين أشهى الأطباق المصرية الأصيلة

  section.category-tabs
  .container
    .tabs
      button.tab-btn.active(data-filter="all") الكل
      - const categories = [...new Set(meals.map(m => m.category))]
      each cat in categories
        button.tab-btn(data-filter=cat) #{cat}


  // Products Section
  section.products-section
    .container
      #productsGrid.products-grid
        each meal in meals
          .product-card(data-category=meal.category)
            .product-image
              img(src=meal.image, alt=meal.name)
            .product-info
              h3= meal.name
              p= meal.description
              .product-footer
                .product-price
                  span.price= meal.price
                  span.currency جنيه
                button.btn.btn-add-cart(
                  type="button"
                  data-name=meal.name
                  data-price=meal.price
                  data-image=meal.image
                ) أضف للسلة
      .section-cta
        a.btn.btn-outline(href="/review")     ادخل قيم المطعم
